body {
  background-color: #222;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  margin-top: 0;
}

label {
  font-size: 1.5em;
}

input[type="text"] {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.3em;
  border: none;
  margin-top: 1em;
}

button {
  padding: 0.5em 1em;
  font-size: 1.2em;
  border-radius: 0.3em;
  border: none;
  background-color: #007bff;
  color: white;
  margin-left: 0.5em;
  cursor: pointer;
}

#weather-result {
  font-size: 1.2em;
  margin-top: 2em;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
